numpy>=1.26,<2
torch>=2.4,<2.7
torchvision>=0.19,<0.22
matplotlib>=3.9,<3.10
seaborn>=0.13,<0.14
pandas>=2.3,<2.4
scikit-learn>=1.6,<1.7
scikit-image>=0.24,<0.25
scipy>=1.13,<1.14
tifffile>=2024.8,<2025.0
monai>=1.5,<1.6
templatematchingpy>=1.0.3,<1.1
psutil>=5.9,<8
nd2>=0.10,<0.11
opencv-python>=4.10,<4.12
ome-types>=0.6,<0.7
pyyaml>=6.0,<6.1
joblib>=1.5,<1.6
hyperactive==4.8.0
gradient-free-optimizers==1.7.2
jax==0.4.23
jaxlib==0.4.23
onnxruntime>=1.19,<1.20
skl2onnx>=1.19,<1.20
btrack>=0.7,<0.8